<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %>></title>
    <link rel="stylesheet" href="stylesheets/common.css" type="text/css"/>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/common.js"></script>
    <style type="text/css">
        #index_content {
            lin-height: 500px;
            margin-left: auto;
            margin-right: auto;
        }
        a {
            color: #333;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="width: 100%">
    <!--头部-->
    <div style="background: #444444">
        <div class="header" id="header_id">
            <div class="user-wrap-left">SevenNight,hi，欢迎你来到本网站</div>
            <div class="user-wrap">
                <a href="/loading">登陆</a>
                <a href="/register">注册</a>
                <a href="#">忘记密码？</a>
            </div>
        </div>
    </div>
    <!--logo-->
    <div class="logo_header_id" id="logo_header_id">
        <div class="logo-div-left"></div>
        <div class="menu-div-right">
            <ul id="menu">
                <li class="two_grade selected"><a href="/">企业评论</a></li>
                <li class="two_grade"><a href="/graduate">学生评论</a></li>
                <li class="two_grade"><a href="#">数据分析</a></li>
            </ul>
        </div>
    </div>
    <!--内容-->
    <div id="index_content">
        <div style="width: 100%;height: 600px;background: #f0f0f0;">
            <div style="background: #f3f3f3;color: #333;">
                <span style="height: 40px;line-height:40px;margin: 8px;">首页 / 企业评论>招聘信息</span>
            </div>
            <div style="display: flex;height: 100%;background: #fff;color: #666">
                <div style="flex: 20%;margin: 10px auto;">
                    <a href="/business_detail" style="width: 100%;display: block;margin: 2px auto;color: #666">> 招聘信息</a>
                    <a href="/business_comment" style="width: 100%;display: block;margin: 2px auto;color: #666">> 企业点评</a>
                </div>
                <div style="flex: 80%;color: #999;">
                    实现对企业的真实性认证。
                    <p style="text-indent: 25px;">
                        公司介绍
                        中兴软创是阿里巴巴和中兴通讯共同投资的一家全球领先的云计算科技公司，成立于2003年，基于云计算、大数据、人工智能技术驱动，为全球80多个国家和地区的电信运营商及政府、企业等行业客户提供优质软件产品和服务。
                        作为阿里云战略投资子公司，软件服务生态战略伙伴，中兴软创结合中兴通讯多年ICT领域经验积淀，为全球企业带来领先的数字化转型技术和服务。目前，中兴软创业务范围从运营商市场延伸至政府、交通、环保、公共安全等多个行业，形成了在通信软件、运营服务、大数据、云计算、人工智能、互联网架构等领域的核心竞争力，并依托全球13大研发中心，提升技术实力、投入产品创新、拓展业务布局。
                        在电信BSS/OSS领域，中兴软创跻身全球电信软件行业Top20行列，打造的ZSmart核心系列产品方案，灵活满足145家电信运营商的商业发展和差异化需求，为超过7亿终端用户提供服务。在政企领域，中兴软创作为最早参与国内智慧城市建设的厂商之一，通过精准定制化的ZSmart City行业解决方案，帮助政府和企业客户提升信息化应用水平，实现转型升级和创新发展。
                        中兴软创坚持“价值创造”的核心发展理念，构筑以客户为中心的“产品化软件+专业化服务”的商业模式，赢得了各领域客户的信任与合作。多年来，中兴软创先后获得 “公司级CMMI 5级认证”、“国家规划布局内重点软件企业”、“中国软件业务收入前百家企业”、“TM Forum（电信管理论坛）Open Digital Award年度大奖”、“TM Forum总裁特别大奖”、“Frost & Sullivan全球客户价值领导奖”等荣誉，并拥有国家计算机信息系统集成一级资质和国家对外工程承包一级资质。
                        软件创造价值！中兴软创将携手客户和合作伙伴，拥抱更美好的数字未来。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--版权信息-->
    <div class="footer">
        <p>公司地址：XX省XXXX市XXXX路1-2棟(023-93837373)</p>
        <p>XXX公司 &nbsp;&nbsp;版权所有 © 2005-2014</p>
        <p>ICP备案号：浙ICP备0000000号-1 浙网文[2014]0000-000号 来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
    </div>
</div>

</body>
</html>