<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/common.css" type="text/css"/>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/common.js"></script>
    <style type="text/css">
        #index_content {
            /*lin-height: 500px;*/
            margin-left: auto;
            margin-right: auto;
        }

        a {
            color: #333;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="width: 100%">
    <!--头部-->
    <div style="background: #444444">
        <div class="header" id="header_id">
            <div class="user-wrap-left">SevenNight,hi，欢迎你来到本网站</div>
            <div class="user-wrap">
                <a href="/loading">登陆</a>
                <a href="/register">注册</a>
                <a href="#">忘记密码？</a>
            </div>
        </div>
    </div>
    <!--logo-->
    <div class="logo_header_id" id="logo_header_id">
        <div class="logo-div-left"></div>
        <div class="menu-div-right">
            <ul id="menu">
                <li class="two_grade"><a href="/">企业评论</a></li>
                <li class="two_grade selected"><a href="/graduate">学生评论</a></li>
                <li class="two_grade"><a href="#">数据分析</a></li>
            </ul>
        </div>
    </div>
    <!--内容-->
    <div id="index_content">
        <div style="width: 100%;height: 600px;background: #f0f0f0;">
            <div style="background: #f3f3f3;color: #333;">
                <span style="height: 40px;line-height:40px;margin: 8px;">首页 / 真实性认证</span>
            </div>
            <div style="display: flex;height: 100%;background: #fff;">
                <div style="flex: 20%;margin: 10px auto;">
                    <a href="/graduate_detail" style="width: 100%;display: block;margin: 2px auto;color: #666">> 学生信息</a>
                    <a href="/me_comment" style="width: 100%;display: block;margin: 2px auto;color: #666">> 学生评价</a>
                </div>
                <div style="flex: 80%;">
                    实现学生点评
                    <div id="inlineContent">
                        <div class="tomtoluyan">
                            <form action="/graduate_talk" method="post" name="liuyanform">
                                <h2>发表留言反馈</h2>
                                <div>您的姓名：<input name="name" type="text" class="luyqninput" size="30"/></div>
                                <div>企业评分：<input name="score" type="text" class="luyqninput" size="30"/></div>
                                <div>工作环境：<input name="env" type="text" class="luyqninput" size="30"/></div>
                                <div>工资待遇：<input name="sal" type="text" class="luyqninput" size="30"/></div>
                                <div>企业文化：<input name="cul" type="text" class="luyqninput" size="30"/></div>
                                <div>幸福指数：<input name="hap" type="text" class="luyqninput" size="30"/><span>*</span></div>
                                <div>饮食住宿：<input name="eat" type="text" class="luyqninput" size="30"/></div>
                                <div>
                                    <div style="float:left">留言反馈内容：<span>*</span></div>
                                    <div><textarea name="textarea" cols="130" rows="5" class="luyqninaarea" style="overflow:auto"></textarea></div>

                                </div>
                                <button name="" type="submit" value="提交信息" class="luiyabot"/>提交信息</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--版权信息-->
    <div class="footer">
        <p>公司地址：XX省XXXX市XXXX路1-2棟(023-93837373)</p>
        <p>XXX公司 &nbsp;&nbsp;版权所有 © 2005-2014</p>
        <p>ICP备案号：浙ICP备0000000号-1 浙网文[2014]0000-000号 来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
    </div>
</div>

</body>
</html>