<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title%>></title>
    <link rel="stylesheet" href="stylesheets/common.css" type="text/css"/>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/common.js"></script>
    <style type="text/css">
        #index_content {
            lin-height: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        a {
            color: #333;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="width: 100%">
    <!--头部-->
    <div style="background: #444444">
        <div class="header" id="header_id">
            <div class="user-wrap-left">SevenNight,hi，欢迎你来到本网站</div>
            <div class="user-wrap">
                <a href="/loading">登陆</a>
                <a href="/register">注册</a>
                <a href="#">忘记密码？</a>
            </div>
        </div>
    </div>
    <!--logo-->
    <div class="logo_header_id" id="logo_header_id">
        <div class="logo-div-left"></div>
        <div class="menu-div-right">
            <ul id="menu">
                <li class="two_grade"><a href="/">企业评论</a></li>
                <li class="two_grade selected"><a href="/graduate">学生评论</a></li>
                <li class="two_grade"><a href="#">数据分析</a></li>
            </ul>
        </div>
    </div>
    <!--内容-->
    <div id="index_content">
        <div style="width: 100%;height: 600px;background: #f0f0f0;">
            <div style="background: #f3f3f3;color: #333;">
                <span style="height: 40px;line-height:40px;margin: 8px;">首页 / 身边认证</span>
            </div>
            <div style="display: flex;height: 100%;background: #fff;">
                <div style="flex: 20%;margin: 10px auto;">
                    <a href="/graduate_info" style="width: 100%;display: block;margin: 2px auto;color: #666">> 学生信息</a>
                    <a href="/me_comment" style="width: 100%;display: block;margin: 2px auto;color: #666">> 学生评价</a>
                </div>
                <div style="flex: 80%;">
                    通过身边的教师、家人、亲朋好友的认证，认证其自身在校情况、个人经历等情况的认证）
                    <table style="width: 100%;font-size: 16px;color: #333;">
                        <tr style="width: 100%;height: 40px;">
                            <td style="width: 50%;">
                                教师: <input type="text" value="王五">
                            </td>
                            <td style="width: 50%;">
                                电话: <input type="text" value="15622633***">
                            </td>

                        </tr>
                        <tr style="width: 100%;height: 40px;">
                            <td style="width: 50%;">
                                父亲: <input type="text" value="张一">
                            </td>
                            <td style="width: 50%;">
                                电话: <input type="text" value="15622633***">
                            </td>
                        </tr>
                        <tr style="width: 100%;height: 40px;">
                            <td style="width: 50%;">
                                好友: <input type="text" value="李四">
                            </td>
                            <td style="width: 50%;">
                                电话: <input type="text" value="15622633***">
                            </td>
                        </tr>
                        <tr style="width: 100%;height: 80px;">
                            <td>
                                在校情况：
                                <textarea name="a"></textarea>
                            </td>
                        </tr>
                        <tr style="width: 100%;height: 80px;">
                            <td>
                                个人经历：
                                <textarea name="a"></textarea>
                            </td>
                        </tr>
                    </table>
                    <button type="submit"> 提交信息</button>
                </div>

            </div>

        </div>

    </div>
    <!--版权信息-->
    <div class="footer">
        <p>公司地址：XX省XXXX市XXXX路1-2棟(023-93837373)</p>
        <p>XXX公司 &nbsp;&nbsp;版权所有 © 2005-2014</p>
        <p>ICP备案号：浙ICP备0000000号-1 浙网文[2014]0000-000号 来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
    </div>
</div>

</body>
</html>